{% load bootstrap4 %} <!--incluindo o bootstrap --> 
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% bootstrap_css %} <!--incluindo os arquivos .css --> 
    <title>app1 - produto</title>
</head>
<body>
    <div class="container">
        <h1>Produto</h1>
        {%bootstrap_messages%} <!--msg de confirmação -->

        <form action="{% url 'produto' %}" method="post"
         class="form" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %} <!--aplicar css no form context -->
        {% buttons %} 
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        {% endbuttons %} 
        </form>
    </div>


{% bootstrap_javascript jquery='full' %} <!--incluindo os arquivos .js --> 
</body>
</html>